.form {
    text-align: center;
}

.form .MuiFormControl-root{
    width: 80%;
    padding: 1em 0;
}

.img-background{
    padding: 0;
    
}

@media (min-width: 1200px) {
    .img-background {
        background: url('https://images.unsplash.com/photo-1548191194-b3d4f051fd7d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format') no-repeat center;
    background-size: cover;
    }
    
}