.profile-container{
    height: 100%;
}

.profile-menu .MuiMenuItem-root{
    padding: 1em;
    margin-bottom: 1em;
    
}

.profile-menu .MuiMenuItem-root.active {
    background-color: rgba(0, 0, 0, 0.04);
    font-weight: bold;
}

.profile-menu .MuiMenuItem-root a {
    text-decoration: none;
}

@media (min-width: 900px) {
    .profile-menu {
        justify-content: 'stretch';
    }

    .profile-menu .MuiPaper-root{
        height: 100%;
    }

}